@mixin center-x-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($property, $duration, $delay: 0s) {
  transition: $property $duration $delay;
  -webkit-transition: $property $duration $delay;
  -moz-transition: $property $duration $delay;
  -ms-transition: $property $duration $delay;
  -o-transition: $property $duration $delay;
}